*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: black;
}
.wrapper{
    display: flex;
    column-gap: 35px;
}

.wrapper .dot{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: blueviolet;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    animation: animate 1s ease-in-out infinite alternate;
}

.dot:nth-child(1){
  animation-delay: -0.25s;
}
.dot:nth-child(2){
    background: greenyellow;
      animation-delay: -0.5s;
}
.dot:nth-child(3){
    background: aqua;
      animation-delay: -0.75s;
}
.dot:nth-child(4){
  background: pink;
    animation-delay: -1s;
}
@keyframes animate {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(5px);
    }
}